{% extends 'home/basic.html' %}
{% block title %} Products | Trilingo{% endblock %}
{% load static %}
{% block body %}
<div class="breadcrumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <h2 class="title">Upload Solution</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Upload Solution</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Background Curve -->
    <div class="breadcrumb-bg-curve">
        <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->
<!-- ***** Contact Area Start ***** -->
<section class="uza-contact-area section-padding-80">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Contact Form -->
            <div class="col-12 col-lg-8">
                <!-- <h2>Your Apllication Id is :  {{i.app_id}}</h2>
                <h3>Your Task 1 is :   {{i.task1name}}</h3>
                <h2>Link for the Task : <a href="{{i.task1link}}"><b>{{i.task1link}}</b></a></h2> -->
                <form action="/home/solution3" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Enter Link of your Solution</label>
                                <input type="url" class="form-control mb-30" id="solution3" name="solution3" placeholder="Paste solution link here" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Confirm Your Id</label>
                                <input type="number" class="form-control mb-30" id="appid" name="appid" placeholder="Enter Your Application Id eg. 28" required>
                            </div>
                        </div>
                    </div>
                    <button class="btn uza-btn btn-3 mt-15">Upload Solution</button>
                </form>
            </div>
        </div>
    </div>
</section>
<br><br>
<hr>
<section class="uza-contact-area section-padding-80">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-3">
                <div class="contact-sidebar-area mb-80">
                    <!--  Single Sidebar Area
                    -->
                    <div class="single-contact-card mb-50">
                        <h4>Contact Us</h4>
                        <h3>(+91) 9199 769 697</h3>
                        <h6>hello.alfred@gmail.com</h6>
                        <h6>Mon - Fri: 9:00 - 19:00 <br>Closed on Weekends</h6>
                    </div>
                    <!-- Single Sidebar Area
                     -->
                    <div class="single-contact-card mb-50">
                        <h3>Jharkhand</h3>
                        <h6>613 Niche Chowk, Rd 03, Lobin Bagaan, Khunti, Ranchi</h6>
                    </div>
                    <!-- Single Sidebar Area
                     -->
                    <div class="single-contact-card mb-50">
                        <h3>Telengana</h3>
                        <h6>101 UCO Bank Lane, Vinayak Nagar, Gacchibowli, Hyderabad</h6>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
{% block js %}
<script>
{% if done %}
alert('Your Third Solution is submitted stay Tunned for further update');

document.location = "/home/applicantlogin"; {% endif %}
</script>
{% endblock %}